/* FILE: _edit.scss */

::placeholder {
	font-family: monospace;
	font-size: .9em;
	font-weight: 400;
	font-style: normal;
	color: inherit;
	opacity: .75;
}

.form-edit-rename-taxonomies {
	max-width: 75em;
	margin-top: 2.62em;

	th,
	td {
		padding: 1em 1.62em;
		background: color-mix( in srgb, currentColor 2.5%, transparent );
		border-block: 1px solid;
		border-color: color-mix( in srgb, currentColor 25%, transparent );
	}

	th {
		background-color: color-mix( in srgb, currentColor 7.5%, transparent );
		border-inline-end: 1px dashed;
		border-color: color-mix( in srgb, currentColor 25%, transparent );
	}

	label {
		display: block;
		text-align: end;

		code {
			display: inline-block;
			margin-top: .62em;
			font-size: .81em;
			opacity: 0;
		}
	}

	.description {
		display: block;
		margin: .62em 2px 0;
	}

	input[type="text"] {
		max-width: 24em;
		font-weight: 700;
	}

	.button-reset {
		display: inline-block;
		padding: 0 .38em;
		font-size: 1.62em;
		line-height: 1;
		vertical-align: -.25em;
		cursor: pointer;
	}

		input:placeholder-shown + .button-reset {
			visibility: hidden;
		}

	.button + .button,
	.button-reset + .button {
		margin-inline: 1em;
	}

	.button-hidden {
		display: none;

		&:hover,
		&:focus,
		&:active {
			display: inline-block;
		}
	}

		input:focus + .button-reset + .button-hidden {
			display: inline-block;
		}

	tr:hover {

		label code {
			opacity: .75;
		}
	}
}
