/* FILE: _list.scss */

.wrap-rename-taxonomies .column {

	&-status {
		width: 8%;
		text-align: center;

		.dashicons {
			display: inline-block;
			width: 1.62em;
			height: 1.62em;
			line-height: 1.62em;
			border: 2px solid;
			border-radius: 1.62em;
			opacity: .33;

			&-edit {
				background: #0a6;
				color: #fff;
				border-color: #095;
				opacity: 1;
			}
		}
	}

	&-post_type {

		.dashicons-before {
			display: inline-block;
			padding: .2em;
			padding-inline-end: 1em;
			line-height: 1.5em;
			border: 1px solid #d3d3d3;
			border-radius: 1.5em;

			&::before {
				margin-inline: .2em;
				line-height: 1.66em;
				font-size: .9em;
			}
		}
	}

	&-title_default {
		font-weight: 600;
		font-style: italic;

		.not-changed {
			font-family: monospace;
			font-size: .9em;
			font-weight: 400;
			font-style: normal;
			color: inherit;
			opacity: .66;

			&:hover,
			&:focus,
			&:active {
				opacity: 1;
			}
		}
	}
}
