//
// Plugin admin stylesheet
//
// @package    WebMan Rename Taxonomies
// @copyright  WebMan Design, Oliver Juhas
//
// @since    1.0
// @version  1.0
//





.wrap-rename-taxonomies {

	.column-status {
		width: 8%;
		text-align: center;

		.dashicons {
			display: inline-block;
			width: 1.62em;
			height: 1.62em;
			line-height: 1.62em;
			border: 2px solid;
			border-radius: 1.62em;
			opacity: .33;

			&-edit {
				background: #0a6;
				color: #fff;
				border-color: #095;
				opacity: 1;
			}

		}

	}

	.column-post_type {

		.dashicons-before {
			display: inline-block;
			padding: .2em 1em .2em .2em;
			line-height: 1.5em;
			border: 1px solid #d3d3d3;
			border-radius: 1.5em;

			[dir=rtl] & {
				padding-left: 1em;
				padding-right: .2em;
			}

			&::before {
				margin-left: .2em;
				margin-right: .2em;
				line-height: 1.66em;
				font-size: .9em;
			}

		}

	}

}

.edit-rename-taxonomies {
	margin-top: 2.62em;

	th, td {
		padding: 1em 1.62em;
		background-color: #f9f9f9;
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-color: #d3d3d3;
	}

	th {
		background-color: #e9e9e9;
	}

	label {
		display: block;
		text-align: right;

		[dir=rtl] & {
			text-align: left;
		}

		code {
			display: inline-block;
			margin-top: .62em;
			font-size: .81em;
			opacity: 0;
		}

	}

	.description {
		display: block;
		margin: .62em 2px 0;
	}

	input[type="text"] {
		max-width: 24em;
		font-weight: 700;
	}

	.button-hidden {
		display: none;
	}

	.button + .button {
		margin-left: 1em;
		margin-right: 1em;
	}

	.button-reset {
		width: 2.62em;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}

	tr:hover {

		label code {
			opacity: .75;
		}

		.button-hidden {
			display: inline-block;
		}

	}

}

::placeholder {
	font-size: .9em;
	font-weight: 300;
	font-style: italic;
	color: inherit;
	opacity: .5;

	.custom-default-value & {
		font-style: normal;
		opacity: .9;
	}

}
