/* FILE: _base.scss */
.wrap-rename-taxonomies h1 { margin: 1em 0; font-size: 2.62em; font-weight: 300; }

.wrap-rename-taxonomies h1 code { font-size: 1em; }

/* FILE: _list.scss */
.wrap-rename-taxonomies .column-status { width: 8%; text-align: center; }

.wrap-rename-taxonomies .column-status .dashicons { display: inline-block; width: 1.62em; height: 1.62em; line-height: 1.62em; border: 2px solid; border-radius: 1.62em; opacity: .33; }

.wrap-rename-taxonomies .column-status .dashicons-edit { background: #0a6; color: #fff; border-color: #095; opacity: 1; }

.wrap-rename-taxonomies .column-post_type .dashicons-before { display: inline-block; padding: .2em 1em .2em .2em; line-height: 1.5em; border: 1px solid #d3d3d3; border-radius: 1.5em; }

[dir=rtl] .wrap-rename-taxonomies .column-post_type .dashicons-before { padding-left: 1em; padding-right: .2em; }

.wrap-rename-taxonomies .column-post_type .dashicons-before::before { margin-left: .2em; margin-right: .2em; line-height: 1.66em; font-size: .9em; }

/* FILE: _edit.scss */
::-webkit-input-placeholder { font-style: italic; font-weight: 400; text-indent: 1.62em; color: inherit; opacity: .5; }
:-ms-input-placeholder { font-style: italic; font-weight: 400; text-indent: 1.62em; color: inherit; opacity: .5; }
::-ms-input-placeholder { font-style: italic; font-weight: 400; text-indent: 1.62em; color: inherit; opacity: .5; }
::placeholder { font-style: italic; font-weight: 400; text-indent: 1.62em; color: inherit; opacity: .5; }

.form-edit-rename-taxonomies { max-width: 75em; margin-top: 2.62em; }

.form-edit-rename-taxonomies th, .form-edit-rename-taxonomies td { padding: 1em 1.62em; background: rgba(255, 255, 255, 0.5); border-top: 1px solid; border-bottom: 1px solid; border-color: rgba(0, 0, 0, 0.1); }

.form-edit-rename-taxonomies th { background-color: rgba(0, 0, 0, 0.05); }

.form-edit-rename-taxonomies label { display: block; text-align: right; }

[dir=rtl] .form-edit-rename-taxonomies label { text-align: left; }

.form-edit-rename-taxonomies label code { display: inline-block; margin-top: .62em; font-size: .81em; opacity: 0; }

.form-edit-rename-taxonomies .description { display: block; margin: .62em 2px 0; }

.form-edit-rename-taxonomies input[type="text"] { max-width: 24em; font-weight: 700; }

.form-edit-rename-taxonomies .button-reset { display: inline-block; padding: 0 .38em; font-size: 1.62em; line-height: 1; vertical-align: -.25em; cursor: pointer; }

.form-edit-rename-taxonomies input:placeholder-shown + .button-reset { visibility: hidden; }

.form-edit-rename-taxonomies .button + .button, .form-edit-rename-taxonomies .button-reset + .button { margin-left: 1em; margin-right: 1em; }

.form-edit-rename-taxonomies .button-hidden { display: none; }

.form-edit-rename-taxonomies .button-hidden:hover, .form-edit-rename-taxonomies .button-hidden:focus, .form-edit-rename-taxonomies .button-hidden:active { display: inline-block; }

.form-edit-rename-taxonomies input:focus + .button-reset + .button-hidden { display: inline-block; }

.form-edit-rename-taxonomies tr:hover label code { opacity: .75; }
